#ignore tmp and swap files
*~
*.swp
#ignore compiled python
*.pyc
#ignore tmp watershed files from deliniation too
HydroData/services/tmp/*.json
#ignore help builds
HydroData/help/build/**/*
#ignore other tmp data
HydroData/tmp/*
